.recipe-page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(41, 31, 16);
    width: 600px;
    margin: auto;
    background-color: #7cac49;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding-top: 5px;
    margin-top: 50px;
}
.title{
    font-size: 23px;
}

.recipe-form {
    margin-top: 30px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-input {
    margin-bottom: 10px; /* Adjust as needed */
}

.recipe-input label {
    color: #000; /* Adjust text color as needed */
}

.recipe-input input[type="text"] {
    width: 285px; /* Adjust input width as needed */
    height: 30px; /* Adjust input height as needed */
    border-radius: 5px; /* Add border radius to inputs */
    border: 2px solid #000; /* Add border to inputs */
    margin-left: 5px;
    background-color:#cde3b6;
}

.recipe-input input[type="text"]::placeholder {
    color: #525252; /* Adjust placeholder text color */
    text-indent: 5px;
}

.recipe-submit {
    width: 150px; /* Adjust button width as needed */
    height: 40px; /* Adjust button height as needed */
    margin-top: 15px; /* Adjust as needed */
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #918052;
    color: #fff; /* Adjust text color as needed */
    border-radius: 5px; /* Add border radius to button */
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.recipe-submit:hover {
    background-color: #ab8f6c; /* Change button color on hover */
}

.recipe-add-ingredient {
    width: 150px; /* Adjust button width as needed */
    height: 40px; /* Adjust button height as needed */
    margin-top: 15px; /* Adjust as needed */
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #918052;
    color: #fff; /* Adjust text color as needed */
    border-radius: 5px; /* Add border radius to button */
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.recipe-add-ingredient:hover {
    background-color: #ab8f6c; /* Change button color on hover */
}

.recipe-remove-ingredient {
    width: 100px; /* Adjust button width as needed */
    height: 25px; /* Adjust button height as needed */
    margin-top: 15px; /* Adjust as needed */
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #918052;
    color: #fff; /* Adjust text color as needed */
    border-radius: 5px; /* Add border radius to button */
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.recipe-remove-ingredient:hover {
    background-color: #ab8f6c; /* Change button color on hover */
}